@font-face {
    font-family:'roboto';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight:lighter;
    font-style:normal;
}
@font-face {
    font-family:'roboto';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'roboto';
    src: url('../fonts/Roboto-Black-webfont.eot');
    src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Black-webfont.woff') format('woff'),
         url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight:bolder;
    font-style:normal;
}
@font-face {
    font-family:'roboto';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

* {font-family:'roboto';}
body {background:#17356d;}
h1, h2 {color:#17356d;font-weight:normal;text-decoration:underline;text-transform:uppercase;font-size:28px;text-align:center;margin-bottom:30px;}
h3 {color:#17356d;font-weight:normal;text-decoration:underline;text-transform:uppercase;font-size:21px;text-align:center;}
.titre3 h3 {color:#17356d;font-weight:normal;text-decoration:underline;text-transform:uppercase;font-size:21px;text-align:left;margin-top: 50px; margin-left: 52px;}
.actualite h3 {color:#17356d;font-weight:bold;text-decoration:none; text-transform:uppercase;font-size:20px;text-align:left;}
.actualite {margin-top: 70px;}
h1 span, h2 span, h3 span {font-weight:bold;}
p {font-size:16px;line-height:24px;text-align:justify;color:#17356d;}
.fullwidth {max-width:100%;}
.flex {display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.logo {display:block;margin:45px auto 70px auto;}
header .columns:first-child {background:#3e579d;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzZTU3OWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTczNTZkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-radial-gradient(center, ellipse cover, #3e579d 0%, #17356d 70%);background:-webkit-radial-gradient(center, ellipse cover, #3e579d 0%,#17356d 70%);background:radial-gradient(ellipse at center, #3e579d 0%,#17356d 70%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e579d', endColorstr='#17356d',GradientType=1);}
nav {color:#fff;border-top:1px solid rgba(255,255,255,0.13);padding-top:25px;padding-bottom:20px;text-align:center;}
nav ul {margin:0;}
nav ul li {display:inline-block;text-transform:uppercase;font-size:14px;}
nav ul li a {color:#fff;}
nav ul li.active a, nav ul li:hover a {color:#2f6ddf;}
nav ul li:after {content:'|';padding:0 15px;}
nav ul li:last-child:after {display:none;}
.social {position:relative;background-image:url('../img/bg-top-right.png');background-repeat:no-repeat;}
.social .facebook {font-weight:lighter;font-size:10px;text-transform:uppercase;color:#fff;display:block;margin-top:80px;margin-left:40px;}
.social .facebook:after {content:url('../img/logo-facebook.svg');vertical-align:-12px;padding-left:10px;}
.social .telephone {position:absolute;font-weight:bold;font-size:30px;text-transform:uppercase;color:#fff;display:block;top:90px;left:50%;margin-left:-90px;}
.social .telephone:before {content:url('../img/telephone.svg');vertical-align:-12px;padding-right:10px;}
.content {background:#bfbfbe;position:relative;height:100%;min-height:100%;}
.content2 {background:#bfbfbe;position:relative;}
.content .contenu {display:block;max-width:630px;margin:0 auto;border-top:12px solid #fff;padding-bottom:50px;}
.content .contenu p {max-width:430px;margin:0 auto;}
.content .photos {height:100%;padding:0;position:relative;}
.content .quoi:before {content:url('../img/motif.svg');position:relative;margin:14px;left:50%;margin-left:-120px;top:48px;display:block;}
.content .quoi p {border-bottom:1px solid #fff;padding-bottom:50px;margin-bottom:20px;}
.content .quel-style {background:url('../img/escalier.svg') no-repeat top left;padding:85px 50px 85px 230px;}
/*.content .quel-style p {padding-bottom:15px;}*/
/*.content .quel-style p:last-child {border-bottom:1px solid #fff;padding-bottom:30px;}*/
/*.content .quel-style:after {content:url('../img/separateur.svg');position:relative;margin:14px;left:50%;margin-left:-52px;display:block;}*/
.content .qui-sommes-nous {width:100%;padding:50px 0 30px 0;}
.content .qui-sommes-nous p {padding-bottom:20px;}
.content2 .contenu-realisations {width:100%;padding:50px 0 30px 0;margin:0;max-width:1000px;margin:0 auto;}
footer {position:relative;clear:both;text-align:center;background:#3e579d;padding:45px 0;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzZTU3OWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTczNTZkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-radial-gradient(center, ellipse cover, #3e579d 0%, #17356d 100%);background:-webkit-radial-gradient(center, ellipse cover, #3e579d 0%,#17356d 100%);background:radial-gradient(ellipse at center, #3e579d 0%,#17356d 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e579d', endColorstr='#17356d',GradientType=1);}
footer:before {position:absolute;content:'';background:#fff;height:12px;width:100%;max-width:1000px;left:50%;margin-left:-500px;top:-12px;z-index:10;}
footer img {max-width:250px;}

.popup {
	border:21px solid rgba(255,255,255,0.57);border-radius:20px;position:fixed;display:block;
	width:100%;max-width:345px;height:100%;max-height:166px;z-index:1000;
	left:95%;margin-left:-322px;top:100%;margin-top:-163px;
	overflow:hidden;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-ms-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;
}
.popup .row {background:#fff;height:100%;}
.popup .row .columns {padding:0;}
.popup .text-popup {padding:20px 30px;}
.popup .text-popup p:first-child {text-transform:uppercase;color:#a9a9a9;font-size:18px;}
.popup .text-popup p:nth-child(2) {font-size:30px;line-height:30px;text-decoration:underline;font-weight:bold;text-align:left;}
.popup .close {font-weight:bolder;font-size:18px;position:absolute;top:5px;right:5px;color:#17356d;cursor:pointer;}
.popup.getback {top:-500px;}

.popup_centre {
	border:21px solid rgba(255,255,255,0.57);border-radius:20px;position:fixed;display:block;
	background-color: #FFF;
	width:100%;max-width:620px;height:100%;max-height:300px;z-index:1000;
	position:absolute; left:50%; top:50%; margin-left:-310px; margin-top:-100px;
	overflow:hidden;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-ms-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;
}
.popup_centre .row {background:#fff;height:100%;}
.popup_centre .row .columns {padding:0;}
.popup_centre .text-popup {padding:20px 30px; overflow: auto;}
.popup_centre .text-popup p:first-child {text-transform:uppercase;color:#a9a9a9;font-size:18px;}
.popup_centre .text-popup p:nth-child(2) {font-size:30px;line-height:30px;text-decoration:underline;font-weight:bold;text-align:left;}
.popup_centre .close {font-weight:bolder;font-size:18px;position:absolute;top:5px;right:5px;color:#17356d;cursor:pointer;}
.popup_centre.getback {top:-500px;}


.swiper-container {width:100%;height:100%;margin-left:auto;margin-right:auto;}
.swiper-slide {text-align:center;font-size:18px;display:-webkit-box;display:-ms-flexbox;background-repeat:no-repeat;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {background-image:url('../img/fleche-gauche.svg');}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {background-image:url('../img/fleche-droite.svg');}

.vue-de-chantier {border-radius:50%;width:290px;height:290px;background:rgba(255,255,255,0.89);position:absolute;z-index:100;left:50%;margin-left:-145px;top:-140px;}
.vue-de-chantier:after  {content:url('../img/motif-bulle.svg');position:absolute;bottom:-7px;left:-3px;display:block;}
.vue-de-chantier p {color:#17356d;font-size:24px;font-weight:lighter;text-transform:uppercase;line-height:30px;text-align:center;margin-bottom:0;}
.vue-de-chantier p:first-line {font-weight:bold;}

.bulle {position:absolute;z-index:100;left:50%;top:50px;border-radius:50%;width:150px;height:150px;background:#17356d;}
.bulle p {color:#fff;font-size:11px;line-height:18px;text-transform:uppercase;text-align:center;margin-bottom:0;}
.bulle p span {font-size:20px;text-transform:none;display:block;}

#map-canvas {width:100%;height:100%;}

.info {font-style:italic;font-size:10px;}

.row form.row {margin:0 auto;max-width:430px;}

hr {
  height: 2px;
  padding: 0;
  color: #FFF;
  background-color: #FFF;
  border: 0;
}
.gallery-top, .gallery-thumbs {overflow:hidden;}
.gallery-top {position:relative; width:100%;}
.gallery-top .swiper-slide {background-size:cover;background-position:center center;
        background-repeat:no-repeat;min-height:327px;padding:0;display:block;text-align:center;}
.gallery-thumbs {height:20%;box-sizing:border-box;padding:10px 0;}
.gallery-thumbs .swiper-slide {width:20%;opacity:0.4;}
.gallery-thumbs .swiper-slide-active {opacity: 1;}


.vue-de-chantier2 {border-radius:50%;width:290px;height:290px;background:rgba(255,255,255,0.89);
        position:absolute;z-index:100;left:50%;margin-left:95px;top:-140px;}
.vue-de-chantier2:after  {content:url('../img/motif-bulle.svg');position:absolute;bottom:-7px;left:-3px;display:block;}
.vue-de-chantier2 p {color:#17356d;font-size:24px;font-weight:lighter;text-transform:uppercase;line-height:30px;text-align:center;margin-bottom:0;}
.vue-de-chantier2 p:first-line {font-weight:bold;}


[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {height:auto;padding:5px;border:1px solid transparent;font-size:14px;font-family:inherit;box-shadow:none;margin:0 0 5px;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {width:100%;border:none;text-transform:uppercase;font-family:inherit;font-size:14px;color:#fff;background:#17356d;margin-bottom:10px;}
button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {background:#2f6ddf;}
.contact .content .coordonnees {padding:50px 0 30px 0;}
.contact .content .coordonnees p {margin-bottom:20px;}

figcaption {text-align:center;}

@media screen and (max-width:1024px) {
	.logo {margin:45px auto 45px auto;}
	nav ul li {font-size:12px;}
	nav ul li:after {padding:0 10px;}
	.social {position:inherit;}
	.social .facebook {top:0;position:absolute;margin-left:0;margin-top:20px;}
	.social .telephone {font-size:15px;top:20px;left:100%;margin-left:-150px;}
	.social .telephone:before {vertical-align:-26px;zoom:.45;}
	.vue-de-chantier {width:200px;height:200px;margin-left:-100px;top:-15px;}
	.vue-de-chantier:after {left:-40px;}
	.vue-de-chantier p {font-size:18px;line-height:23px;}
	.bulle {top:120px;}
	
}
@media screen and (max-width:768px) {
	.logo {max-width:40%}
	.content .medium-6 {width:100%;}
	.content .contenu {max-width:100%;}
	.content .quoi, .content .quel-style {width:50%;float:left;padding:50px 30px;}
	.content .quoi:before, .content .quel-style:after {content:none;}
	footer:before {max-width:90%;margin-left:-45%;}
	#map-canvas {pointer-events:none;}
	.popup .popup_centre {display:none;}
}
@media screen and (max-width:480px) {
	.logo {max-width:60%;margin:75px auto 45px auto;}
	.social .facebook {top:0;position:absolute;margin-left:50px;margin-top:20px;}
	.social .telephone {font-size:15px;top:20px;left:100%;margin-left:-200px;}
	.popup {max-height:80%;top:40%;margin-top:-50%;margin-left:-50%;}
	.popup .close {z-index:1000;}
	.popup .row {position:relative;display:block;}
	.popup .row .columns {position:relative;display:block;float:none;clear:both;}
	.popup img {margin:0 auto;display:block;}
	nav ul li:first-child {display:none;}
	.content .quoi, .content .quel-style {padding:30px 10px;background:none;}
	.vue-de-chantier {top:-60px;}
	.bulle {top:80px;}
	.popup .popup_centre {display:none;}
}
@media screen and (max-width:375px) {
	.content .quoi, .content .quel-style {padding:30px 10px;background:none;display:block;float:none;width:100%;}
	.social .facebook {margin-left:20px;}
	.social .telephone {margin-left:-170px;}
	nav ul li:nth-child(3):after {display:none;}
	nav ul li:last-child {display:block;}
	.popup .popup_centre {display:none;}
}
@media screen and (max-width:320px) {
	.social .facebook {margin-left:0px;}
	.social .telephone {margin-left:-150px;}
	nav ul li:nth-child(3):after {display:none;}
	nav ul li:last-child {display:block;}
	.content .contenu {padding-bottom:20px;}
	.popup .popup_centre {display:none;}
}
